.about {
  margin-top: 108px;
  font-size: 18px;
line-height: 26px;
}
.parag {
  width: 769px;
  margin-bottom: 39px;
}
h3 {
  font-weight: bold;
font-size: 26px;
line-height: 38px;
}
.pr {
  margin-bottom: 60px;
}
